<section class="content-header">
  <h1>
    Home 
    <small></small>
  </h1>
</section>
<section class="content">

  <!-- Small boxes (Stat box) -->
  <div class="row">
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-aqua" style="height:128px;"> 
        <div class="inner" align="center">
          <h2>
            Getting Started 
          </h2>
        </div>
        <a href="#" class="small-box-footer" style="margin-top:19px;">
          More info <i class="fa fa-arrow-circle-right"></i>
        </a>
      </div>
    </div><!-- ./col -->
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-yellow" style="height:128px;"> 
        <div class="inner" align="center">
          <h2>
            Tutorial
          </h2>
        </div>
        <a href="#" class="small-box-footer" style="margin-top:19px;">
          More info <i class="fa fa-arrow-circle-right"></i>
        </a>
      </div>
    </div><!-- ./col -->
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-green" style="height:128px;"> 
        <div class="inner" align="center">
          <h2>
            BeagleBoard.com
          </h2>
        </div>
        <a href="#" class="small-box-footer" style="margin-top:19px;">
          More info <i class="fa fa-arrow-circle-right"></i>
        </a>
      </div>
    </div><!-- ./col -->
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-red" style="height:128px;"> 
        <div class="inner" align="center">
          <h2>
            ISO Images
          </h2>
        </div>
        <a href="#" class="small-box-footer" style="margin-top:19px;">
          More info <i class="fa fa-arrow-circle-right"></i>
        </a>
      </div>
    </div><!-- ./col -->
  </div><!-- /.row -->
</section>
