<section class="content-header">
  <h1>
    Updates
  </h1>
</section>
<section class="content">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">Latest Updates</h3>
      </div><!-- /.box-header -->
      <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
          <tbody><tr>
              <th>ID</th>
              <th>Update</th>
              <th></th>
            </tr>
            <tr>
              <td>1</td>
              <td>Operating System Update</td>
              <td><button class="btn btn-default btn-sm">Install</button></td>
            </tr>
            <tr>
              <td>2</td>
              <td>Operating System Update</td>
              <td><button class="btn btn-default btn-sm">Install</button></td>
            </tr>
            <tr>
              <td>3</td>
              <td>Security Updates</td>
              <td><button class="btn btn-default btn-sm">Install</button></td>
            </tr>
        </tbody></table>
      </div><!-- /.box-body -->
    </div><!-- /.box -->
  </div>
</section>
